:root {
    --bfw-red: #e2001a;
    --background-color-white: #ffffff;
    --background-color-gray: #585858;
    --background-color-lightgray: lightgray;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-gray: #585858;
    --header-height: 100px;
    --footer-height: 100px;
    --font-size-base: 16px;
}
body {
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: var(--font-size-base);
}
header {
    height: var(--header-height);
    background-color: var(--background-color-white) !important;
    color: var(--text-color-gray) !important;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--background-color-gray);
    font-size: 2.2rem !important;
}
.header-container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

main {
    padding: 20px;
    background-color: var(--background-color-lightgray);
    color: var(--text-color-gray);
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.login-box {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    margin-top: 30px;
    color: var(--text-color-white);
    border: 1px solid var(--background-color-gray);
    border-radius: 15px;
    background-color: var(--background-color-gray);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


.hidden {
    display: none;
}
.show {
    display: inline;
}

footer {
    text-align: center;
    background-color: var(--background-color-white);
    color: var(--text-color-gray);
    border-top: 1px solid var(--background-color-gray);
    height: var(--footer-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem !important;
}



@media screen and (max-width: 768px) {
    header {
        font-size: 1.5rem !important;
        justify-content: center;
    }
    
}