:root {
    --bfw-red: #e2001a;
    --background-color-white: #ffffff;
    --background-color-gray: #f5f5f5;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
    --text-color-gray: #585858;
    --header-height: 60px;
}
body {
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    height: var(--header-height);
    background-color: var(--background-color-white) !important;
    color: var(--text-color-gray) !important;
    display: flex;
    align-items: center;
    padding: 0 20px;
}