main {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.main-headline {
    text-align: center;
    margin-bottom: 24px;
}

.settings-icon {
    transition: transform 0.3s ease;
}

.settings-icon:hover {
    transform: rotate(45deg);
}

.course-selection {
    gap: 24px;
    margin-bottom: 24px;
}

.course-selection select {
    padding: 12px 16px;
    font-size: var(--font-size-base);
    border: 2px solid var(--background-color-gray);
    border-radius: 8px;
    background-color: var(--background-color-white);
    color: var(--text-color-black);
    min-width: 200px;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

#course_overview {
    padding: 10px;
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    scrollbar-width: none;
    scrollbar-color: var(--bfw-red) var(--background-color-lightgray);
}

/* Custom Scrollbar Design */
#course_overview::-webkit-scrollbar {
    width: 16px;
}

#course_overview::-webkit-scrollbar-track {
    background: var(--background-color-lightgray);
    border-radius: 8px;
}

#course_overview::-webkit-scrollbar-thumb {
    background: var(--bfw-red);
    border-radius: 8px;
    border: 2px solid var(--background-color-lightgray);
}

#course_overview::-webkit-scrollbar-thumb:hover {
    background: var(--text-color-gray);
}

#course_overview::-webkit-scrollbar-thumb:active {
    background: var(--text-color-black);
}

.course-card {
    width: 310px;
    height: 120px;
    flex-direction: column;
    border: 2px solid var(--bfw-red);
    background-color: var(--background-color-white);
    border-radius: 16px;
    padding: 24px;
}

.course-card-title {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}