.d-flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-pointer {
    cursor: pointer;
}