main {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
}

.wrapper {
    height: 100%;
    width: 100%;
}

/* nimmt 2/3 der Breite */
.course-student-display {
    flex: 2;
    border: 2px solid black; 
}

/* nimmt 1/3 der Breite */
.course-diagram {
    flex: 1; 
}

.status-traffic-light {
    background-color: var(--traffic-light-green);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: inline-block;
}